.echarts{
    background-color: #e7e6fb;
    border-radius: 5px;
    position: relative;
    color: #000;
    width: 100%;
    height: 100%;
    >.main{
        width: 100%;
        height: 100%;
        >div{
            height: 100%;
            >canvas{
                width:100%;
                height: 100%;
            }
        }
    }
    >.echarts-opinion{
        width: 100%;
        height: 50px;
        background-color: rgb(92, 92, 107);
        color: #000;
        padding-left: 15px;
        box-sizing: border-box;
        >p{
            width: 100%;
            height: 25px;
            line-height: 25px;
            font-size: 12px;
            display: flex;
            justify-content: left;
            white-space: nowrap;
        }
        >.csjy{
            white-space: nowrap;
            >.csjydata{
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
            }
            >.all-main{
                display: none;
            }
         }
    }
    
}